  @import url(https://fonts.useso.com/css?family=Yanone+Kaffeesatz);
  @import url(https://fonts.useso.com/css?family=Droid+Serif:400,700,400italic);
  @import url(https://fonts.useso.com/css?family=Ubuntu+Mono:400,700,400italic);
  body {
      font-family: 'font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif';
  }
  
  h1,
  h2,
  h3 {
      font-family: 'Yanone Kaffeesatz';
      font-weight: 400;
      margin-bottom: 0;
  }
  a{
    text-decoration: none;
  }
  ol li{
    margin:10px 0;
  }
  .inverse .footnote{
    position: absolute;
    display: block;
    bottom: 3em;
    width: calc(100% - 160px);
  }
  .red {
      color: rgb(249, 38, 114);
  }
  
  .orange {
      color: #E6A22D;
  }
  
  .remark-code,
  .remark-inline-code {
      font-family: 'Ubuntu Mono';
  }
  
  .inverse {
      background: #272822;
      color: #777872;
      text-shadow: 0 0 20px #333;
  }
  
  .inverse h1,
  .inverse h2 {
      color: #f3f3f3;
      line-height: 0.8em;
  }
  
  .left-column-40 {
      width: 40%;
      float: left;
  }
  
  .right-column-60 {
      width: 60%;
      float: right;
  }
  
  .left-column-25 {
      width: 25%;
      float: left;
  }
  
  .right-column-75 {
      width: 75%;
      float: right;
  }
  .left-column-25 h5{
    font-size: 20px;
    color: #ccc;
  }
  .gray{
    margin-left: 20px;
    color: #999;
    word-spacing: 10px;
  }
